.stage{
    width: 500px;
    height: 300px;
    background-color: lightseagreen;
}
.ball{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50px;
    animation: sliding 1s ease-in-out .5s infinite alternate;
    -o-animation-play-state: running;
    position: relative;
}
@keyframes sliding{
    0%{
        background-color: limegreen;
        left: 0;
    }
    50%{
        top:200px
    }
    100%{
        background-color: maroon;
        left: 400px;
        top: 0;
    }
}