nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    background-color: orangered;
    padding: 2px 5px;
    border-radius: 5px;
}
nav li:hover{
    background-color: greenyellow;
    color: white;
    transition: .8s;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.dropdown{
    display: none;
}