/* common code start */
*{
    scroll-behavior:smooth !important;
}


/* common code ends */

/* navbar design start here */
.navbar{
    background: #040402 !important;
   

}

.navtitle{
    font-weight:700 !important;
    font-size: 1.6rem !important;
    color:white !important;
}

.nav-style{
    color:white !important;
    font-weight:500 !important;
    transition:0.3s !important;
}

.nav-style:hover{
    color:#e2090d !important;
}
.nav-item-style li{
    margin:0 15px !important;

}

.menu-icon i{
    font-size:22px !important;
    transition:0.3s !important;
}

.menu-icon i:hover{
    color:#e2090d !important;
}




.btn-style{
    color:white !important;
    font-size: 1.3rem !important;
    letter-spacing:2px;
    padding:6px 8px!important;
    background-color: #040402 !important;
    border:3px solid red !important;
    border-radius:0px !important;

}

.btn-style:hover{
    background: linear-gradient(to left, #fc5130, #e2090d);
}
/* navbar design ends here */

/* banner section design start here */
#baneer-section{
    background:#040402 !important;
    padding-top:40px;
}

.banner-header{
    background: linear-gradient(to left, #fc5130, #e2090d);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight:900 !important;
    font-size:3rem;    
    line-height: 1.2;
    font-family: 'Jost', sans-serif;
    font-size: 5.0rem;
    
}

.b-decs{
    color:#999999;
}
/* banner section design ends here */

/* Services section design start here */
#services{
    background-color:#040402 ;
}

.row{
    position:relative !important;
}

.card-content{
    background: #191919;
    border-radius:0px !important;
    transition: 0.2s;
    transform: scaley(1.1);
}

.card-content:hover{
    background: linear-gradient(to left, #fc5130, #e2090d);
    color:white;
}

.card-text-style{
    font-size: 1rem;
    color: #999999;
}

.card:hover .card-text-style{
    color:white;
}

.card-photo-design{
    width:250px;
    height:200px;
}

/* Services section design ends here */

/* team section design start here  */
.team{
    background-color: #2a2828;
    
}

.card{
    background: #191919 ;
}
.card:hover{
    background: linear-gradient(to left, #fc5130, #e2090d) ;
}

.card:hover .icon-style{
    color:white !important;
}
.card-img{
    width: 160px;
    height: 160px;
}

.icon-style{
    font-size: 1.5rem;
    background: linear-gradient(to left, #fc5130, #e2090d);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    transition: .1s;
    
}

.main-card:hover .icon-style{
    background: linear-gradient(to left, #ffffff, #f7f5f5);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.row{
    position:absolute;
}
.main-card{
    position:relative;
    transition: 0.3s;
    animation-duration: .3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    
}

.main-card:hover{
    
    animation-name:card;
   
}

@keyframes card {
    0%{
        bottom:0px;
    }

    100%{
        bottom:20px;
    }
}



/* team section design ends here */

/* Ideas & Plans section design start here */
.ideas{
    padding:135px 0px !important;
    background-color:#040402 !important;
}

.hr-design{
    height:5px;
    width:80px;
    border-bottom:none;
    text-align: center;
    background: linear-gradient(to left, #fc5130, #e2090d);

}
.hr-design::after{
    clear:both;

}

.ideas-header{
    font-size: 2.8rem;
    line-height: 1.4;
    
}

.ideas-text{
    color:#999999;
    font-weight: 350;
}


.ideas-icon2{
    font-size:80px;
   
}

.ideas-icon-color{
    background: linear-gradient(to left, #fc5130, #e2090d);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
/* Ideas & Plans section design ends here */

/* Pricing plans section design start here */
.pricing{
    background-color: #2a2828;
    padding:135px 0px !important;
}

.pri-text{
    width:75%;

}

.p-color{
    color:#dd272a;
    
}

.card:hover .p-color{
    color:white;
}

.c-price{
    text-align:center;
    padding:15px;
    border:1px solid white;
    border-radius:35px;
}

.c-decs-color{
   color: #999999;
}

.card:hover .c-decs-color{
    color: white;
 }
.c-info{
    width:90%;
    display:inline;

    float: left;
}

.c-decs i{
    float: left;
}

.clear{
    clear: both;
}

.c-hr{
    background-color: #999999;
    margin: 10px 0px;
}
 
.card:hover .c-hr{
    background-color: white;
}

.p-btn{
    padding:10px;
    background: linear-gradient(to left, #fc5130, #e2090d);
    border:1px solid #191919;
    font-weight: 450;
}
.bi-icon{
    font-size:45px;
    height:auto;
    margin: 0px;
}

.card:hover .p-btn{
    border:1px solid white;
}

/* Pricing plans section design ends here */

/* clients section design start here */
.clients{
    background-color:#040402;;
    padding: 100px 0px;
}

/* clients section design ends here */

/* Testimonials section style start here */
.testimonials{
    background-color: #2a2828;
    padding: 135px 0px !important;
}

.tc-img{
     width:100px;
     height:100px;
     border-radius:50%;
}

.tc-body{
    color:white;
    
    font-family: Jost, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
}

.tc-star{
    font-size: 1.5rem;
    background: linear-gradient(to left, #fc5130, #e2090d);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;

}

.tc-card:hover .tc-star{
    background: linear-gradient(to left, #ffffff, #f7f5f5);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
/* Testimonials section style start here */


/* Newsletter section design start here */
.newsletter{
    background-color: #040402;
    padding: 135px 0px;
}

.nf-input{
    background-color: #040402 !important;
    box-shadow: none;
    color:white;
    padding: 1rem;
    width:260px;
    border-radius:7px;

    height:auto;
    transition: all 0.4s ease 0s;
    outline: none;
    border:1px solid rgb(153, 153, 153);
}

.nf-input:hover{
    background-color:#040402 !important;
}

.nf-btn{
    height: 56px;
    padding: 0px 1.5rem;
    margin: 0px !important;
    border-radius: 3px !important;
    background-color: #e2090d;
    width:170px;
    border:none;
    
}

.nf-btn:hover{
    background: linear-gradient(to left, rgb(252, 81, 48), rgb(226, 9, 13)) center center / 110%;
    background-position: center center;
    border-color: transparent !important;
}

.nf-btn:focus{
    outline: none;
}
/* Newsletter section design ends here */

/* footer section design start here */
.footer{
    background-color: #191919;
    padding: 100px 0px;
}


.fh-text-color{
    background: linear-gradient(to left, #fc5130, #e2090d);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;


}

.f-text-color{
    color: #999999;
    font-size: 1.3rem;
    line-height: 1.4;
}

.fa-text-color{
    color: #999999;
    font-size: 1.3rem;
    line-height: 1.4;
    text-decoration:none;
}

.fa-text-color:hover{
    text-decoration: none;
    color: #999999;
}




.ff-btn{
    height: 45px;
    padding: 0px 1.2rem;
    margin: 0px !important;
    background-color: #e2090d;
    width:170px;
    border:none;
    
}

.ff-btn:hover{
    background: linear-gradient(to left, rgb(252, 81, 48), rgb(226, 9, 13)) center center / 110%;
    background-position: center center;
    border-color: transparent !important;
}

.ff-btn:focus{
    outline: none;
}
/* footer section design ends here */