body{
    margin: 0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
}
.parent{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.left-side{

}
.right-side{

}
.photo img{
    width: 250px;
}
.details-btn{
    padding: 10px 30px;
    background-image: linear-gradient(45deg,green,red,green);
    border-radius: 5px;
    border:none;
}
.details-btn:hover{
    padding: 10px 30px;
    background-image: linear-gradient(90deg,red,green,red);
    border-radius: 5px;
    border:none;
    color: white;
}