Project Requirements
Make a banner where the left side will be a heading and a paragraph and a button and right side will be an image.
Heading will be typing effect with css
Make a photo frame with name and job title
When hovering over the frame, create four borders around the frame and add simple animation with those borders.
Name and job title will not show by default. when hovering over the frame, it will come from the bottom of the frame and an overly color will show.
Use #22bedd as primary color