.menu-container{
    display: flex;
}
.food{
    border:3px solid green;
    width: 300px;
}
.food img{
    width: 75%;
}
@media (max-width: 700px){
   .food{
    background-color: orange;
   } 
}
@media (min-width: 900px){
    .food{background-color:red;}
    
}