.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2em repeat(5, 1fr);
    grid-gap: 1em;
    height: 700px;
}
.date, .day{
    background-color: gray;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.other-months{
    background-color: lightgrey;
}