.photo-frame{
    width: 300px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 10px;
    position: relative;
    margin: 15px;
    overflow: hidden;
}
.photo-frame:hover .photo-details{
    display: block;
    background-color: rgba(196, 73, 73, 0.432);
    color: white;


}
.photo-frame:hover .photo{
    transform: scale(1.5) rotate(360deg);
    transition: 2s ease-in-out;
}
.photo-album{
    display: flex;
    flex-wrap: wrap;
}
.photo-details h3 {
    color: white;
    background-color: black;
    text-align: center;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-details{
    display: none;
    position: absolute;
    width: 300px;
    top:0;
}