/* img{
    text-align: center;
    width: 50px;
} */

header {
    height: 70px;
    background-color: rgba(255, 166, 0, 0.747);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header img {
    height: 50px;
}

h1 {
    text-align: center;
    color: red;
    margin: 0;
    padding: 0;
}