nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 1em;
}

nav li a {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: absolute;
    background-color: blanchedalmond;
    display: none;
}

nav>ul>li:hover>.dropdown {
    display: block;
}

nav>ul>li:hover>.dropdown.mega-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2em;
}