.banner-bg{
    background-image: url(./../../img/human-use-computer-control-robot-arms-working-procuction-convoyed-smart-factory-industry-4_1150-43048.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.teams{
    background-image: url(./../../img/b3.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}